*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background: no-repeat top;
  background-size: cover;
  background-image: url('/background--dashboard.png');
}

// background image position needs to be fixed
