.idea-board-ideas-container {
  display: grid;
  max-width: 1180px;
  grid-template-columns: repeat(auto-fill, minmax(130px,164px));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  margin: 0 auto;
}
.idea-cell-container {
  grid-row-start: auto;
  grid-column-start: auto;
  grid-column-end: span 1;
  grid-row-end: span 1;
  background: #f1f1f1;
  font-size: 0.9rem;
  padding: 5px;
  margin: 5px;
  border: solid 1px black;
  overflow: hidden;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}