@import '../../styles/utils/colours';


$col1-width: 33% !default;
$col2-width: 66% !default;

.layout {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.layout__content {
  height: 100%;
  width: 100%;
}
