@import '../../styles/utils/colours';
@import url('https://fonts.googleapis.com/css?family=Roboto');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

$nav-height: 25%;
$footer-height: 25%;
$content-height: calc(100vh - #{$nav-height + $footer-height});
$col1-width: 33% !default;
$col2-width: 66% !default;

.layout {
  height: 100vh;
  width: 100%;
}

.layout__nav {
  padding: 0 2.25%;
  height: $nav-height;
}

.layout__nav-header {
  margin-right: 10px;
  border-right: 6px double currentColor;
  padding-right: 10px;
}

.layout__nav-link {
  margin: 0 6px;
  line-height: 2em;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.layout__content {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: $content-height;
  padding: 0 2.25%;

  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.layout__footer {
  padding: 0 2.25%;
  height: $footer-height;
  line-height: 2em;
}

.container-circle {
  background-color: rgba(14, 13, 13, 0.6);
  border: 1px solid #fff;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
