@import '../utils/fonts';

@font-face {
  font-family: AktivGrotesk;
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/aktiv_grotesk_hairline-webfont.woff2) format("woff2"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/aktiv_grotesk_hairline-webfont.woff) format("woff"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/aktiv_grotesk_hairline-webfont.ttf) format("truetype")
}

@font-face {
  font-family: AktivGrotesk;
  font-style: normal;
  font-weight: $font-weight-normal;
  src: url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/aktiv_grotesk_light-webfont.woff2) format("woff2"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/aktiv_grotesk_light-webfont.woff) format("woff"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/aktiv_grotesk_light-webfont.ttf) format("truetype")
}

@font-face {
  font-family: AktivGrotesk;
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/aktiv_grotesk_medium-webfont.woff2) format("woff2"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/aktiv_grotesk_medium-webfont.woff) format("woff"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/aktiv_grotesk_medium-webfont.ttf) format("truetype")
}

@font-face {
  font-family: GillSans;
  font-style: normal;
  font-weight: $font-weight-normal;
  src: url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/GillSansMTPro-Light.woff2) format("woff2"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/GillSansMTPro-Light.woff) format("woff"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/GillSansMTPro-Light.ttf) format("truetype")
}

@font-face {
  font-family: GillSans;
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/GillSansMTPro-Medium.woff2) format("woff2"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/GillSansMTPro-Medium.woff) format("woff"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/GillSansMTPro-Medium.ttf) format("truetype")
}

@font-face {
  font-family: DINRoundOT;
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/DINRoundOT-Light.woff2) format("woff2"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/DINRoundOT-Light.woff) format("woff"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/DINRoundOT-Light.ttf) format("truetype")
}

@font-face {
  font-family: DINRoundOT;
  font-style: normal;
  font-weight: $font-weight-normal;
  src: url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/DINRoundOT.woff2) format("woff2"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/DINRoundOT.woff) format("woff"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/DINRoundOT.ttf) format("truetype")
}

@font-face {
  font-family: RobotoSlab;
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/RobotoSlab-Light.woff2) format("woff2"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/RobotoSlab-Light.woff) format("woff"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/RobotoSlab-Light.ttf) format("truetype")
}

@font-face {
  font-family: RobotoSlab;
  font-style: normal;
  font-weight: $font-weight-normal;
  src: url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/RobotoSlab-Regular.woff2) format("woff2"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/RobotoSlab-Regular.woff) format("woff"),
      url(https://clearscore-assets.clearscore.com/build/uk/csapp3008/assets/fonts/RobotoSlab-Regular.ttf) format("truetype")
}
